
/*TOP-BAR*/
.subpage .layout .top-bar{
	padding: 32px 0;
}
.subpage .layout .top-bar .top-bar-wrap{
	display: inline-block;
	height: 46px;
	width: 100%;
}
.subpage .layout .top-bar .wrap-left{
	float: left;
	display: inline-block;
	height: 46px;
	line-height: 46px;
}

.subpage .layout .top-bar .wrap-left .navigation-logo{
	display: inline-block;
	width: 40px;
	height: 46px;
	vertical-align: top;
}
.subpage .layout .top-bar .wrap-left .navigation-title{
	display: inline-block;
	font-family: PingFangSC-Regular;
	font-size: 24px;
	color: #99A9BF;
	margin-left: 16px;
}

.subpage .layout .top-bar .wrap-right{
	float: right;
	display: inline-block;
	height: 46px;
	line-height: 46px;
}
.subpage .layout .top-bar .wrap-right .btn{
	width: 140px;
	height: 40px;
	line-height: 40px;
	margin: 3px 5px;
}
.subpage .layout .top-bar .wrap-right .btn a{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 14px;
}
.subpage .layout .top-bar .wrap-right .btn img{
	vertical-align: middle;
	margin: -4px 10px 0 0;
}
/*TOP-BAR END*/

/*PRODUCTION*/
.production-box{
	background: #fff;
	padding: 0;
	margin-bottom: 16px;
}
.production-box .production-box-header{
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #1F2D3D;
}
.production {
	height: 160px;
	border-bottom: 1px solid #E1E3E6;
}
.production:last-child{
	border-bottom: 0px;
}
.production .production-img div{
	display: inline-block;
	width: 100px;
	height: 100px;
}
.production .production-img div img{
	display: inline-block;
	width: 100px;
	height: 100px;
}
.production-summary .production-name{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #1F2D3D;
	line-height: 14px;
	margin: 14px 0;
}
.production-summary .production-content{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #99A9BF;
	line-height: 24px;
}

.production-cost .cost{
	margin: 10px 0;
}
.production-cost .cost span:first-child{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #99A9BF;
	line-height: 14px;
	margin: 0 8px;
}
.production-cost .cost span:last-child{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #333333;
	line-height: 14px;
	margin: 0 8px;
}

.production-protocol{
	min-width: 250px;
}
.production-protocol .protocol{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #1F2D3D;
	line-height: 14px;
	margin: 10px 0;
}

.production-state{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #99A9BF;
	line-height: 16px;
	text-align: center;
}
.production-state .state-dot{
	background: #F7BA2A;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	vertical-align: middle;
	margin: 8px;
}


.table-header{
	height: 60px;
	background: #ECF2F8;
	border: 0;
	max-width: 100%;
	text-align: left;
	margin-bottom: 15px;
}

.table-header .th-choseAll{
	min-width: 100px;
}

.table-header span{
	display: inline-block;
	vertical-align: top;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #1F2D3D;
}

.th-protocol{
	min-width: 250px;
}

.production-action .wrap{ 
	width: 120px;
	max-width: 100%;
	margin: 0 auto;
}
.action-subscribe{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #3B73DB;
	line-height: 14px;
	margin-bottom: 26px;
	cursor: pointer;
}
.icon-subscribe, .icon-delete{
	margin-right: 10px;
}
.icon-subscribe{
	margin-bottom: -2px;
}
.action-delete{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #99A9BF;
	line-height: 14px;
	cursor: pointer;
}

/*底部确认栏*/
.confirm-bar{
	background: #fff;
	margin-bottom: 20px;
}
.confirm-bar table{
	width: 100%;
}
.confirm-bar p{
	display: inline-block;
	margin: 0 40px;
}
.confirm-bar .wrap-right{
	float: right;
	width: 100%;
	text-align: right;
}
.confirm-bar .wrap-right .btn{
	padding: 0 36px;
	margin: 0 24px;
	width: 136px;
	height: 40px;
	line-height: 40px;
}
.confirm-bar .wrap-right > span{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #99A9BF;
	line-height: 14px;
}
.confirm-bar .wrap-right .number{
	font-family: PingFangSC-Regular;
	font-size: 20px;
	color: #ff3737;
	margin: 0 4px;
	line-height: 14px;
}
/*底部确认栏 END*/

/*弹窗*/
.popup{
	background: #FFFFFF;
	box-shadow: 0 0 8px 0 rgba(193,193,193,0.50);
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
}
.popup .option{
	display: inline-block;
	margin-bottom: 30px;
	margin-right: 30px;
}
.popup .option .checkbox{
	transform: translateY(2px);
	margin: 0 10px 0 0;
}
.popup .confirm .btn{
	margin: 0 20px 0 0;
	width: 80px;
	height: 25px;
	line-height: 25px;
}
/*弹窗END*/
